.gradient-custom-2 {
    /* fallback for old browsers */
    background: #ffffff;
    
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #c89898
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    .btn-book-now{
        font-size: 25px;
        background-color: #5a4747;
        border-radius: 10px;
        align-items: center;
    }
    }